*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: NotoSansBold,sans-serif;
     
}

.tamil h1
{
    font-size: 22px;
    margin-left:-652px;
    margin-top: 326px;
    color: #fff;
}

